* {
  margin: 0;
  padding: 0;
}

body {
  background: #000000;
  height: 100%;
}

header, footer {
  background: red;
  height: 65px;
  width: 100%;
  border-radius: 15px;
  margin: 0;
}

nav {
  width: 80%;
}

main {
  background: white;
  min-height: 600px;
  border-radius: 15px;
  margin: 20px 0;
  padding: 20px 50px;
}

h1, h2 {
  margin-bottom: 50px;
}

#price {
  margin-top: 60px;
  text-align: center;
}

h3 {
  margin-top: 60px;
}

.footer_down {
  margin: 5px 0;
  text-align: center;
  padding-top: 15px;
}

